* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: #f2f2f2;
}

.chat-container{
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    max-height: 500px;
    overflow-y: auto;
    flex: 1;
}

.chat-header{
    background-color: greenyellow;
    text-align: center;
    padding: 10px;
}

.chat-content{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    max-height: 500px;
    overflow-y: auto;
}

.message {
    padding: 10px 15px;
    border-radius: 15px;
    width: 70%;
}

.message .name{
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
    opacity: 0.7;
}

.message .text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3rem;
    margin: 5px 0;
}

.message .time{
    font-size: 14px;
    opacity: 0.7;
}

.message.receiver {
    background-color: #ddd;
    align-self: flex-start;
}

.message.sender {
    background-color: greenyellow;
    color: black;
    align-self: flex-end;
}

.chat-footer{
    background-color: white;
    border-top: 1px solid #ddd;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.chat-footer input {
    flex: 1;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.chat-footer button {
    border-radius: 20px;
    border: none;
    background-color: greenyellow;
}