* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: blueviolet;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    gap: 10px;
}

.container div {
    background-color: white;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    text-shadow: 2px 1px 5px #dc444490;
    box-shadow: 10px 10px 10px 2px rgba(107, 7, 107, 0.5);
}

.box1 {
    /* grid-column: 1 / -1; */
}

@media (min-width: 768px) and (max-width: 1027px) {
    .container {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        background-color: red;
    }
    .container div {
        font-size: 30px;
    }
}

@media (min-width: 1028px) {
    .container {
        grid-template-columns: repeat(6, minmax(150px, 1fr));
        background-color: blue;
    }
    .container div {
        font-size: 40px;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
    }
}