* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: blue;
    /* top: 20px;
    left: 20px; */
}

.box2 {
    position: fixed;
    width: 200px;
    height: 100px;
    background-color:black;
    top: 0;
    right: 0;
}

.box3 {
    position: sticky;
    width: 200px;
    height: 100px;
    background-color: purple;
    top: 10px;
    left: 10px;
}

.box4 {
    width: 50px;
    height: 50px;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.inline {
    background-color: aqua;
    width: 100px;
    height: 200px;
    display: inline;
}

.inline-block {
    display: inline-block;
    background-color: blueviolet;
    height: 50px;
}

.flex {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.flex div {
    background-color: red;
    width: 100px;
    height: 100px;
}

.card {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
}

.img-container {
    position: relative;
}

.img-container span {
    background-color: #00000050;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 10px;
}

.img-container img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.card-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}

.item h3 {
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
}

.item p {
    font-weight: 700;
}

.text-right {
    text-align: right;

}

.chat-container {
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    height: 500px;
}

.messages {
    flex: 1;
}

.contact-btn {
    background-color: blue;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}