.box1 {
    position: relative;
    height: 50px;
    width: 50px;
    background-color: red;
    transition: width 1s linear, height 0.5s linear, background-color 1s linear;
    animation: slide-in-left 2s linear;
}

.box1:hover {
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    transition: transform 0.3s linear;
}

.box2:hover {
    transform: translateY(20px);
}
p {
    font-size: 50px;
    transition: color 1s ease;
}

p:hover {
    color: red;
}

button {
    background-color: rgb(65, 65, 219);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    transition: transform 0.3s linear;;
}

button:hover {
    transform: scale(1.1);
}

.box3 {
    width: 80px;
    height: 80px;
    background-color: green;
    animation: anime 3s infinite;
}

.ball {
    margin: 20px;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    animation:  bounce 1s cubic-bezier(0, 1.18, 0.58, 1) infinite;
}

.box4 {
    width: 200px;
    height: 20px;
    background-color: grey;
    opacity: 0.2;
    animation: shimmer 0.5s linear infinite;
}

.loader {
    color: grey;
}

.animate-spin {
    animation: spin 1s linear infinite forwards;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

@keyframes spin {
    to {transform: rotate(360deg)}
}

@keyframes shimmer {
    50% { opacity: 0.7 }
}

@keyframes anime {
    0% {background-color: green}
    25% {background-color: red}
    50% {background-color: yellow}
    75% {background-color: blue}
    100% {background-color: purple}
}

@keyframes bounce {
    0%, 100% { transform: translateY(0)}
    50% {transform: translateY(40px);}
}

@keyframes slide-in-left {
    from {left: -60px}
    to {left: 0px;}
}