* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #f2f2f2;
}

.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #f2f2f2;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

.card-header img {
    width: 100%;
    height: 150px;
}

.card-details {
    padding: 10px;
}

.card-details h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-details p {
    text-align: justify;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    font-size: 0.5rem;
}

.card-footer {
    padding: 0 10px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.card-footer p {
    font-size: 14px;
    color: gray;
}

.card-footer span {
    font-size: 14px;
    color: gray;
}

ul {
    font-size: 0.75rem;
}

@media (min-width: 600px) and (max-width: 1023px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-details p {
        font-size: 1rem;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-details p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1200px) {
    .container {
        grid-template-columns: repeat(4, 1fr);
    }
    .card-details p {
        font-size: 1.5rem;
    }
}